/* CSS Document */

@font-face{
	font-family: Pipboy;
	src: url(../monofonto.ttf);
}

body{
	color: #14fe17;
	background: #272b23;
	font-family: Pipboy, san-serif;
}
iframe{
	padding: 20px;
	filter: grayscale(1) sepia(100%) hue-rotate(55deg) saturate(2) brightness(1) contrast(2);
}

/*scanning lines*/
body::after{
	height:100%;
	width:100%;
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	background:repeating-linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.4) 1px, transparent 1px, transparent 2px);
	opacity: .3;
	z-index: 100000000;/*De on top of everything*/
	pointer-events: none; /*Set moi event su dung pointer */
}

#mapMain::after{
	height:120%;
	width:100%;
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	background:repeating-linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.4) 1px, transparent 1px, transparent 2px);
	opacity: .3;
	z-index: 100000000;/*De on top of everything*/
	pointer-events: none; /*Set moi event su dung pointer */
}

/**********************NAVIGATION BAR********************/
.navbar.navbar-light{
	border-bottom: 2px solid;
	margin: 0px 10px;
}

.navbar.navbar-light::before, .navbar.navbar-light::after{
	height: 7px;
	width: 2px;
	content: "";
	position: absolute;
	display: block;
	z-index: 5000;
	background: #14fe17;
	bottom: -7px;
}

.navbar.navbar-light::before{
	left: 0px;
}

.navbar.navbar-light::after{
	right: 0px;
}

/*Chon toan bo thanh phan cua navbar*/
ul >li.nav-item > a.nav-link, ul >li.nav-item.active >a.nav-link{
	color: #14fe17 !important;
	
	font-size: 32px;
	line-height: 22px;
	padding-bottom: 0;
}


.navbar-light .navbar-nav > li.nav-item .nav-link,
.navbar-light .navbar-nav > li.nav-item.active > .navlink{
	text-align: center;
	margin: auto;
	
	font-size: 32px;
	line-height: 22px;
	padding-bottom: 0;
	
	z-index: 50;
	position: relative;
	background:#272b23;
}
/****************************************/

/****Active main tab*****/
li.nav-item.active::before{
	left: 0;
	content:"";
	position: absolute;
	background: #272b23;
	width: 100%;
	height: 22px;
	top: 18px;
	border-left: 2px solid;
	border-right: 2px solid;
	border-top: 2px solid;
}


/*Cac dinh dang chung cho main nav*/
.navbar-nav{
	width: 100%;
}

.navbar-light ul.navbar-nav li{
	display: block;
	position: relative;
	width: 100%;
	padding: 0 60px;
}

.navbar-light ul.navbar-nav{
	/*margin: 0 200px;*/
}

/*Sub nav*/
.nav.nav-tabs{
	margin: 20px;
	border-bottom: none;
}
.nav.nav-tabs > .nav-item > .nav-link:hover{
	border: 1px solid transparent;
}

.nav.nav-tabs > li > a{
	font-size: 26px !important;
	background: transparent !important;
	border: 1px solid transparent !important;
	padding: 5px 10px;
}

/*
.nav.nav-tabs > li:nth-child(2) > a{
	opacity:.5;
}

.nav.nav-tabs > li:nth-child(3) > a{
	opacity:.2;
}*/
.nav.nav-tabs .nav-item a{
	opacity: .3;
}

.nav.nav-tabs .nav-item a.active{
	opacity: 1;
}




/******************************************************/
/*SPECIAL*/
#special-list ul{
	position: absolute;
	width: 100%;
	left: 4%;
	top: 10%;
	padding: 5px;
	list-style: none;
}

#special-list span{
	font-size: 24px;
}

#special-list li a{
	display: block;
	width: 30%;
	padding: 5px 10px;
	border-radius: 2px;
	color: #14fe17;
	padding-left: 25px;
	text-decoration: none !important;
}

#special-list li a:hover{
	text-decoration: none;
	background: #14fe17;
	color: #272b23;
}
#special_img{
	margin-right: 10%;
	margin-left: -300px;
	position: absolute;
	width: 350px;
	filter: grayscale(1) sepia(100%) hue-rotate(55deg) saturate(2) brightness(1) contrast(2);
}

.txt_holder{
	width: 600px;
	margin-left: 550px;
	margin-top: 350px;
}
.txt_holder span{
	font-size: 25px;
}

/*END SPECIAL*/


/*STAT BARS*/
.center-image{
	position: absolute;
	margin-left: 150px;
}


.center-image img{
	margin: auto;
	display: block;
	position: relative;
	max-height: 300px;
	margin-top: 40px;
	filter: grayscale(1) sepia(100%) hue-rotate(55deg) saturate(7) brightness(1) contrast(2);
}

.stat-bar{
	width: 60px;
	margin: auto;
}

#status{
	max-width:500px;
	margin: auto;
}

.stat-bars > .row{
	margin-bottom: 100px;
	
}
/*END STAT BARS*/

/*STAT NUMBERS*/
.stat-numbers{
	margin-top: -40px;
}

.stat-numbers .col-1, .stat-numbers .col-2{
	background: rgba(16, 255, 0, 0.15);
	margin-right: 4px;
}

.stat-numbers .col-1.transparent,
.stat-numbers .col-2.transparent{
	background: transparent;
}

.stat-numbers img{
	width: 100%;
	filter: grayscale(1) brightness(200) contrast(0) sepia(100%) hue-rotate(55deg) saturate(20);
}

.stat-numbers img.helmet-icon,
.stat-numbers img.lightning-icon,
.stat-numbers img.rad-icon,
.stat-numbers img.crosshair-icon{
	padding-top: 7px;
}


/*END STAT NUMBERS*/


/*INVENTORY*/
.item-list{
	float: left;
	padding: 0px;
	list-style: none;
	margin: 0px;
}

.item-list li a{
	display: block;
	width: 300px;
	padding: 5px 10px;
	border-radius: 2px;
	color: #14fe17;
	padding-left: 25px;
	text-decoration: none !important;
}

.item-list li a:hover{
	text-decoration: none;
	background: #14fe17;
	color: #272b23;
}

.item-list a.active::before{
	content: "";
	display: block;
	position: absolute;
	height: 10px;
	width: 10px;
	background: #14fe17;
	left: 25px;
	margin-top: 7px;
}

.item-list a.active:hover::before{
	background: #272b23;
}

.tab-pane{
	height: calc(100vh - 200px);
}

.item-stats{
	position: absolute;
	right: 10px;
	bottom: 150px;
	width: 230px;
}
.item-stats > .row-hightlight > .row > .col-12{
	background: rgba(16, 255, 0, 0.15);
	margin-bottom: 3px;
}

#wp_img{
	margin-right: 10%;
	margin-left: -300px;
	position: absolute;
	width: 350px;
	filter: grayscale(1) sepia(100%) hue-rotate(55deg) saturate(2) brightness(1) contrast(2);
	
}
/*END INVENTORY*/

/*PHAN FORM*/
.form-container{
	margin-left: -40%;
	margin-top: 255px;
	padding: 20px;
	position: relative;
	background: rgba(16, 255, 0, 0.15);
	width: 70%;
	line-height: 20px;
	z-index: 20;
}


/*END PHAN FORM*/

/*-------------------------DATA---------------------*/
#game1{
	filter: grayscale(1) sepia(100%) hue-rotate(55deg) saturate(2) brightness(1) contrast(2);
	height: 100%;
	margin:auto;
	margin-top: 60px;
}
#highlow iframe{
	margin: auto;
	padding: 0;
	border: none;
	display: flex;
	height: 620px;
	width: 1200px;
}

/*-------------------------------------------------*/


/*-------------------------MAP---------------------*/
/*#mapMain > .container{
	float: left;
}*/
#mapMain >.container{
	max-width: 2000px;
} 

.map-container{
	padding: 20px 20px;
	position: relative;
  	display: inline-block;
	filter: grayscale(1) sepia(100%) hue-rotate(55deg) saturate(2) brightness(1) contrast(2);
}
.map-container img{
	
	z-index: 0;
}

 .map-container svg {
	 position: absolute;
	 	 	z-index: 10;
}

.cls-1{
        fill: #004957;
        fill-rule: evenodd;
	opacity: 0.3;
}

.cls-1:hover{
	fill: grey;
}

.cls-1:active{
	fill: black;
}

.cls-1.selected{
	fill: black;
}

#mapMain .col-4{
	display: inline-block;
	float: left;
	margin-left: -120px;
}
#map_desc{
	display: none;
	z-index: 1;
	right: 0;
	margin-top: 20px;
	background: #30332E;
	height: 100%;
	width: 100%;
	border-radius: 10px;
	transition: 0.5s; 
}

#map_desc h1{
	border-radius: 10px 10px 0 0;
	background: #151912;
	padding: 10px;
	text-align: center;
	margin: auto;
}
#map_desc p{
	padding-left: 10px;
}

#map_desc p.loc{
    font-family: 'Roboto Condensed',Arial,sans-serif;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: -1px;
    position: relative;
    border-top: 1px dotted #cccccc;
    margin-top: 25px;
    display: block;
	box-sizing: border-box;
}

#map_desc b{
	background: #000000;
color: #ffffff;
font-size: 20px;
line-height: 40px;
font-family: 'Roboto Condensed',Arial,sans-serif;
width: 100px;
height: 40px;
display: inline-block;
border-radius: 20px 0px 0px 20px;
text-align: center;
box-shadow: 0px 0px 2px #000000;
position: relative;
left: -100px;
top: -58px;
padding-left: 5px;
	box-sizing: border-box;
}

#map_desc article p{
	margin-top: -40px;
}

/*---------------------------------------------------*/

/*PHAN FOOTER*************************************/

.pip-footer{
	position: fixed;
	bottom: 0;
	width: calc(100% - 20px);
	margin: 10px;
}

.level-progress{
	width: 100%;
	height: 10px;
	border: 2px solid;
	display: inline-block;
	width: 70%;
}

.level-progress-indicator{
	height: 6px;
	background: #14fe17;
	width: 50%;
	position: relative;
}

.navbar.navbar-light.pip-footer{
	border: none;
	font-size: 22px;
}

.navbar.pip-footer .col-3, .navbar.pip-footer .col-6{
	background: rgba(16, 255, 0, 0.15);
	padding: 5px 10px;
	
}

.navbar.pip-footer .col-6{
	/*margin: 0px 6px;*/
	flex: 0 0 49%;
}

.navbar.pip-footer img{
	padding-right: 3px;
	width: 30px;
	filter: grayscale(1) brightness(200) contrast(0) sepia(100%) hue-rotate(55deg) saturate(20);
}


/*Ultility classes*/
.w10{
	width: 10%;
}
.w20{
	width: 20%;
}
.w30{
	width: 30%;
}
.w40{
	width: 40%;
}
.w50{
	width: 50%;
}
.w60{
	width: 60%;
}
.w70{
	width: 70%;
}
.w80{
	width: 80%;
}
.w90{
	width: 90%;
}
